@font-face {
    font-family: 'lemon';
    src: url("../font/lemon_milk/LEMONMILK-Regular.otf") format("opentype");
}

html {
    overflow-x: clip;
    background-color: #FFF6E9;
}

body {
    margin: 0;
    z-index: 1;
}

nav{
  background-color: #CAA177;
  margin: 0;
  margin-top: 0%;
  position: fixed;
  width: 100%;
  height: 75px;
  z-index: 4;
}
.meauxbiblio{
  margin: 0;
  padding: 0;
  display: flex;
}

.meauxbiblio a{
  text-decoration: none;
  color: black;
}

.logo{
  width: 35%;
  height: 75px;
}
.nom{
  margin-left: 40%;
  font-size: 1.9em;
  font-family: 'lemon';
  margin-top: -36%;
}

.connexion{
  position: relative;
  left: 40%;
  bottom: 45%;
  margin: 0 auto;
  width: 100px;

}

.connexion a{
  text-decoration: none;
  color: #FFF6E9;
  left: -30%;
  font-family: 'lemon';

}

.connexion li{
  vertical-align: top;
  display: inline-block;
  position: relative;
}

.sub{
  display: none;
  position: absolute;
  width: 150px;
  background-color: #B17844;
}

.sub li{
  display: block;
  padding: 10px;
}

.connexion li a{
  display: block;
}

.connexion li a:hover{
  color: #000000;
}

.connexion li:hover .sub{
  display: block;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.post_form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  margin-top: 18%;
    background-color: #B17844;
    padding: 1rem;
    max-width: 370px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .form2 {
    margin-top: 10%;
      background-color: #B17844;
      padding: 1rem;
      max-width: 370px;
      border-radius: 0.5rem;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
  
  .form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
  }
  
  .input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .input-container span {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    place-content: center;
  }
  
  .input-container span svg {
    color: #9CA3AF;
    width: 1rem;
    height: 1rem;
  }
  
  .submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #CAA177;
    padding: 20px;
    border: 10px solid transparent;
    max-width: 600px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.box_a {
  background-color: #B17844;
  border-radius: 20px;
}

#perm{
  position: relative;
  top: 150px;
  color: #000;
  text-align: center;
}




@media screen and (max-width: 768px)
{
  .form2 {
    margin-top: 18%;
  }
  .box_a {
    margin-top: 25%;
  }
}